# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
output = (3*4)+5
print(output)

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60

print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

SyntaxError: invalid syntax (2793872360.py, line 2)

In [9]:
# Table
|Data Science Tools|
|-|
|RStudio|
|Visual Studio Code|
|Jupyter Notebook|

SyntaxError: invalid syntax (2793872360.py, line 2)

**Objective**:
* List of Popular Language for Data Science
* Introducing Commonly Used Data Science Open Library
* Evaluating Mathematical Expression Using Simple Arithmatic Operations
* Converting Minutes to an Hour

In [10]:
## Author:
Purna Bahadur Saud

SyntaxError: invalid syntax (419524114.py, line 2)

## Author:
Purna Bahadur Saud

# Table
|Data Science Tools|
|-|
|RStudio|
|Visual Studio Code|
|Jupyter Notebook|

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
1. Pandas
1. NumPy